<a href="https://colab.research.google.com/github/BlackZu01/github-slideshow/blob/master/Pandas_study.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [ ]:
lista = {"1)Pedro":"Rojo", "2)Juan":"Azul"}
prueba = pd.Series(lista)
prueba

In [ ]:
persona1 = pd.Series({"Nombre":"Alejandra Del Chiaro",
                      "Edad":18,
                      "Carrera":"Matemáticas",
                      "Universidad":"Universidad del norte"})
persona2 = pd.Series({"Nombre":"Steven Muñoz",
                      "Edad":18,
                      "Carrera":"Matemáticas",
                      "Universidad":"Universidad del Norte"})
persona3 = pd.Series({"Nombre":"Martin Bornacelly",
                      "Edad":18,
                      "Carrera":"Ingenieria Electrica",
                      "Universidad":"Universidad del Norte"})
tablita = pd.DataFrame([persona1, persona2, persona3], index = ["Amiga 1", "Amigo 2", "Amigo 3"])
tablita

                       Nombre  ...            Universidad
Amiga 1  Alejandra Del Chiaro  ...  Universidad del norte
Amigo 2          Steven Muñoz  ...  Universidad del Norte
Amigo 3     Martin Bornacelly  ...  Universidad del Norte

[3 rows x 4 columns]

In [ ]:
#Para buscar algo en la estructura de datos
tablita["Nombre"][tablita["Carrera"]== "Matemáticas"]

In [ ]:
#Para buscar cierta fila usamos este metodo
tablita.loc["Amiga 1"]

In [ ]:
#Para saber ciertos datos de alguna columna en general usamos:
tablita["Nombre"]

In [ ]:
#Conocer cierto dato de una fila en especifico
tablita.loc["Amiga 1", "Edad"]

In [ ]:
#Para transponer una matriz
tablita.T

In [ ]:
tablita.loc["Amiga 1"]["Nombre"]

In [ ]:
#Si queremos solo cierta parte de la tabla
tablita.loc[:,["Nombre", "Carrera"]]

In [ ]:
#Si queremos dropear(eliminar) ciertas filas de la estructura hacemos:
tablita.drop("Amigo 3")

In [ ]:
#Si queremos guardar un dato en alguna variable para usarlo despues podemos usar el metodo .copy()
copia_tablita = tablita.copy()
copia_tablita = tablita.drop("Amigo 3")
copia_tablita

In [ ]:
#Borrando mas de una estructura
copia_2 = copia_tablita.copy()
copia_2 = copia_tablita.drop("Amigo 2")
copia_2

In [ ]:
#Para eliminar permanentemente ciertas columnas usamos el metodo del copia_2["Nombre"]

In [ ]:
#Creare una lista de items de unas tiendas en diferentes lugares
item_1 = pd.Series({"Bebidas":"Coca-cola",
                       "Precio":2500,
                       })
item_2 = pd.Series({"Bebidas":"Pepsi",
                       "Precio":2350,
                       })
tabla_de_productos = pd.DataFrame([item_1, item_2], index = ["Sede Buenavista", "Sede Portal del Prado"])

#Para hacer descuentos
tabla_de_productos["Precio"] *= 0.20

In [ ]:
#Trabajar con archivos distintos almacenados en el pc
df = pd.read_csv("olympics.csv")
df.head()

In [29]:
#Podemos arreglar esos numeros en la primera columna usando index=0 y skiprows=1
df = pd.read_csv("olympics.csv", index_col=0, skiprows=1)
df.head()

                         № Summer  01 !  02 !  ...  02 !.2  03 !.2  Combined total
Afghanistan (AFG)              13     0     0  ...       0       2               2
Algeria (ALG)                  12     5     2  ...       2       8              15
Argentina (ARG)                23    18    24  ...      24      28              70
Armenia (ARM)                   5     1     2  ...       2       9              12
Australasia (ANZ) [ANZ]         2     3     4  ...       4       5              12

[5 rows x 15 columns]

In [ ]:
df.columns

In [ ]:
for col in df.columns:
  if col[:2] == "01":
    df.rename(columns = {col:"Gold"+col[4:]}, inplace= True)
  if col[:2] == "02":
    df.rename(columns = {col:"Silver"+col[4:]}, inplace = True)
  if col[:2] == "03":
    df.rename(columns = {col:"Bronze"+col[4:]}, inplace = True)
  if col[:1] == " ":
    df.rename(columns = {col:"#"+col[4:]}, inplace = True)
df.head()

In [ ]:
#Para buscar ciertos datos como cuantos paises han ganado medalla de oro usando mascara booleana
df["Gold"]>0

In [ ]:
only_gold = df.where(df["Gold"]>0)
only_gold.head()
#AQUI NOTAMOS QUE LOS PAIS
#ES QUE APARECEN CON NaN es porque no han ganado al menos 1 medalla de oro mientras
#que el resto si

In [ ]:
#Para saber cuantos paises en concreto han ganado mdelalla de oro
df["Gold"].count()

In [ ]:
#Para eliminar estos paises que estan en NaN podemos usar el metodo dropna()
only_gold = only_gold.dropna()
only_gold.head()

In [ ]:
len(df[(df["Gold"]>0) | df["Gold.1"]>0])

In [ ]:
len(df[(df["Gold.1"]>0) | df["Gold"] == 0]) #Paises que han ganado medalla de oro en  summer pero no en winter

In [68]:
df = only_gold

In [ ]:
#Para agregar columnas podemos indexar de la siguiente manera:
df["country"] = df.index
df = df.set_index('Gold')
df.head()

In [ ]:
rd = pd.read_csv("census.csv")
rd.head()

In [72]:
rd["SUMLEV"].unique()

array([40, 50])

In [ ]:
rd = rd[rd["SUMLEV"]==50]
rd.head()

In [ ]:
rd = rd.set_index(["STNAME", "CTYNAME"])
rd.head()

In [ ]:
rd.loc["Michigan","Washtenaw County"]

In [ ]:
rd["RDEATH2011"]

In [ ]:
rd.loc[ [("Michigan", "Washtenaw County"),("Michigan", "Wayne County")] ]